/*-----------------------------------------------------------------------------------
  Global Reset v0.3 (based on http://meyerweb.com/eric/tools/css/reset/ - v1.0 | 20080212)
-----------------------------------------------------------------------------------*/
   html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
   body { line-height: 1; }
   ol, ul { list-style: none; }
   :focus { outline: 0; }
   table { border-collapse: collapse; border-spacing: 0; }
   /* HTML5 */
   article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }


/*---------------------------
  Elements
---------------------------*/
  body { background: #CCBA96 url(../images/background.png); color: #000; font-family: Georgia, 'Times New Roman', serif; font-size: 11px; min-width: 900px; }
  h1, h2, h3, h4, h5, h6 { font-weight: normal; letter-spacing: 0.02em; }
  h1 { font-size: 48px; margin-bottom: 10px; position: relative; text-align: center; text-transform: uppercase; z-index: 2; }
  h1 small { font-size: 24px; text-transform: none; }
  h1 span { font-size: 58px;  }
  h2 { font-size: 30px; margin-bottom: 15px; }
  h3 { font-size: 18px; line-height: 1.4; margin-bottom 10px; }
  a { color: #000; }
  a:hover { color: #333; }
  p { font-size: 18px; line-height: 1.4; margin-bottom: 20px; }
  section { border-top: 5px solid rgba(106, 92, 66, 0.15); margin-bottom: 35px; padding: 25px 0 0 0; }

  header { margin-top: 20px; }
  header a { text-decoration: none; }

  /*footer { background: rgba(103, 91, 68, 0.150) url(../images/footer_texture.png) repeat-x; height: 200px; margin-top: 150px; text-align: center; }*/
  footer { background: rgba(103, 91, 68, 0.150) repeat-x; height: 200px; margin-top: 150px; text-align: center; }
  footer p { font-size: 13px; padding-top: 15px; }
  footer p small { font-size: 11px; }

/*-------------------------------------------
  Global
-------------------------------------------*/
  .left { float: left; }
  .block_left { float: left; margin: 0 10px 10px 0; }
  .right { float: right; }
  .block_right { float: right; margin: 0 0 10px 10px; }
  .center { text-align: center; }
  .clear { clear: both; }

  .column { float: left; margin-bottom: 15px; padding: 0 0 0 10px; width: 290px; }
  .column.double { width: 440px; }
  .column.full { float: none; width: 890px; }
  .column p { padding-right: 20px; }
  .column p.second { margin-top: 20px; }
  .column p.prize { padding-left: 15px; padding-right: 20px; }

  .button { background: url(../images/button.png); color: #fff; display: inline-block; font-family: "goudy-bookletter-1911-1","goudy-bookletter-1911-2","Georgia","Times New Roman",serif; font-size: 24px; height: 54px; line-height: 46px; text-align: center; text-decoration: none; text-shadow: 1px 1px 0 #000; width: 276px; }
  .button:hover { color: #e7e7e7; }

  #container { overflow: hidden; position: relative; }
  #wrapper { margin: 0 auto; position: relative; width: 900px; }

  #feature { height: 220px; margin: 5px 0 50px 10px; }
  #feature li { display: block; float: left; list-style: none; margin-right: 10px; position: relative; }
  #feature li.build { width: 175px; }
  #feature li.meet_people { width: 360px; }
  #feature li.have_fun { margin-right: 0; width: 280px; }
  #feature h2 { bottom: 0; font-size: 44px; left: 0; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); }
  /*.wf-active #feature h2 { font-size: 64px; }*/

  #diver { left: 50px; position: absolute; top: -300px; z-index: 0; }

  #octopus { background: url(../images/octopus.png); bottom: -75px; cursor: pointer; height: 359px; position: absolute; right: -100px; width: 406px; }

  .loop {
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
  }

  ul.list { margin-left: 15px; }
  ul.list li { font-size: 16px; list-style: disc; margin-bottom: 5px; }

  .judges li { display: block; font-size: 18px; height: 48px; line-height: 48px; margin-bottom: 10px; }
  .judges li img { margin-right: 5px; vertical-align: middle; }

  .profile { width: 425px; margin: 0 auto; }
  .profile p{ font-size: 16px; }
  .profile img { float: left; padding-right: 5px; }

  .jobreq h3 { font-size: 24px; margin-bottom: 10px; }
  .jobreq p { font-size: 14px; margin-top: 2px; }

  .winner { margin-top: 10px; border-style: solid; border-color: #000; border-width: 1px;}

  .sponsors .lead-sponsor { padding-top: 50px; text-align: center; }
  .sponsors .sponsor { padding-left: 30px }
  .sponsors .sponsor img { max-width: 300px; max-height: 60px; padding: 5px 3px 3px 3px; }
  div#other-sponsors { width: 100%; text-align: center; padding: 15px 0; }
  .twitter { background: url(../images/twitter.png) no-repeat left center; display: block; padding: 5px 40px; text-decoration: none; }

  /* Override twitter widget styles */
  #twitter .twtr-widget { font-family: Georgia, 'Times New Roman', serif !important; }
  #twitter .twtr-widget em { color: #333 !important; font-size: 14px; }
  #twitter .twtr-widget a { text-decoration: underline !important; }
  #twitter .twtr-widget p { line-height: 1.4 !important; }
  #twitter .twtr-hd, #twitter .twtr-ft { display: none; }
  #twitter .twtr-tweet-wrap { padding: 10px; }
  #twitter .twtr-timeline { height: auto; }
  #twitter .twtr-tweet { width: 280px; float: left; border: none !important; }

  .attendees li { display: block; float: left; font-size: 14px; height: 24px; line-height: 24px; margin: 0 10px 10px 0;  }
  .attendees li a { background-color: #BCAB88; background-color: rgba(106, 92, 66, 0.15); -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; display: block; float: left; padding: 0 5px; text-decoration: none; }
  .attendees li a:hover { background-color: #AF9F7D; background-color: rgba(106, 92, 66, 0.25); color: #000; }
  #ribbon { height: 40px; text-align: center; color: #9b8c6f; font-size: 18px; line-height: 40px; }



/* Twitter bootstrap button */
  .btn {
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(0.25, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
    background-image: -moz-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
    padding: 4px 14px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    text-decoration: none;
  }

  .btn:hover {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
  }

  .btn {
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    transition: 0.1s linear all;
  }

  .btn.large {
    font-size: 20px;
    line-height: 32px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }

  /* http://charliepark.org/bootstrap_buttons/ */
  .btn-signup {
    background-color: hsl(35, 51%, 31%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bc873d", endColorstr="#775526");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#bc873d), to(#775526));
    background-image: -moz-linear-gradient(top, #bc873d, #775526);
    background-image: -ms-linear-gradient(top, #bc873d, #775526);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bc873d), color-stop(100%, #775526));
    background-image: -webkit-linear-gradient(top, #bc873d, #775526);
    background-image: -o-linear-gradient(top, #bc873d, #775526);
    background-image: linear-gradient(#bc873d, #775526);
    border-color: #775526 #775526 hsl(35, 51%, 26.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
    -webkit-font-smoothing: antialiased;
  }

div#how-do-i-participate p#sign-up-button { text-align: center; }

/*-------------------------------------------
  iPhone
-------------------------------------------*/
/*  @media all and (max-width: 322px) {
    body { min-width: auto; width: 320px; }
    h1 { font-size: 36px; }
    h2 { font-size: 28px; }
    img { max-width: 290px; }
    .block_left { display: block; float: none; }
    #wrapper { margin: auto; position: static; width: 300px; }
    #container { overflow: auto; position: static; width: 300px; }
    #feature { height: auto; margin: 10px 0; padding-left: 10px; }
    #feature li { float: none; height: auto; width: 300px; }
    #feature li h2 { font-size: 36px; position: static; }
    #feature img { display: none; }
    .column { float: none; }
    .column.full { width: 290px; }
    .column.double { width: 290px; }
    footer { width: 320px; }
    footer p { margin: 0 auto; width: 300px; }
    #octopus { display: none; }
  }*/
